{% extends "category_sort/base.html" %}

{% block title %}test{% endblock title %}

{% block content %}
    <h2>カテゴリー診断</h2>
    <form action="{{url_for("categories.index")}}" method="POST" novalidate="novalidate">
        {{form.csrf_token}}
        <p>{{form.category_name.label}}{{form.category_name(placeholder="分類したい単語を入力")}}</p>
        {% for error in form.category_name.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        <p>{{form.submit()}}</p>
    </form>
    <a href="{{url_for("housebooks.read")}}">メニューへ戻る</a>
{% endblock content %}
