{% extends "housebooks/base.html" %}

{% block title %}read{% endblock title %}

{% block content %}
    <h2>read</h2>
    <table border="1">
        <tr>
            <th>アカウント名</th>
            <th>内訳</th>
            <th>金額</th>
        </tr>
        {% for moneybook in moneybooks %}
        <tr>
            <td>{{moneybook.account_id}}</td>
            <td>{{moneybook.comment}}</td>
            <td>{{moneybook.price}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>total:{{total}}円</h3>
{% endblock content %}
