<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <header class="header">
        <div class="left-instance">
            <p>家計簿システム</p>
        </div>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <span class="nav-link">{{current_user.account_name}}</span>
            </li>
            <li class="nav-item">
                <a href="{{url_for('accounts.logout')}}" class="nav-link">ログアウト</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('accounts.signup')}}">新規登録</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('accounts.login')}}">ログイン</a>
            </li>
            {% endif %}
        </ul>
    </header>
    <content class="content">
    {% block content %}
    {% endblock content %}
    </content>
</body>
</html>